:root{
  --background-color: #282c34;
  --color: white;
  --color-link: #61dafb;
  --background-output: #1D1D1D;
  --color-output: #ABABAB;
  --color-contrast: #a9badd;
  --default-margin: 1rem;
  --default-padding: 1rem;
  --default-border-radius: 8px;
}

body{
  /* layout */
  width: 98vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* style */
  font-size: calc(10px + 2vmin);
  background-color: var(--background-color);
  color: var(--color);
}

input[type="file"], button{
  font-size: 2rem;
  padding: 1rem;
}
