.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

:root{
  --background-color: #282c34;
  --color: white;
  --link-color: #61dafb;
  --background-output: #1D1D1D;
  --color-ouput: #DEDEDE;
  --default-margin: 1rem;
  --default-padding: 1rem;
}

body{
  background-color: var(--background-color);
  color: var(--color);
  width: 100%;
}

input[type="file"], button{
  font-size: 2rem;
  padding: 1rem;
}
